.none {
    display: none;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.bg-red {
    background-color: #970000;
}
.bg-red-active {
    background-color: #ff1e1e;
}
.bg-blue {
    background-color: #004594;
}
.bg-blue-active {
    background-color: #1c86ff;
}
.bg-white {
    background-color: white;
}