.none {
    display: none;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.bg-red {
    background-color: #970000;
}
.bg-red-active {
    background-color: #ff1e1e;
}
.bg-blue {
    background-color: #004594;
}
.bg-blue-active {
    background-color: #1c86ff;
}
.bg-white {
    background-color: white;
}
.z-100 {
    z-index: 100;
}
.button {
    background: transparent;
    outline: transparent;
    border: 2px solid cyan;
    height: 4rem;
    width: 12rem;
    color: cyan;
    box-shadow: .5rem .5rem 0 0 cyan;
    /* Sharp shadow */
    transition: .5s ease-in-out;
}
.button:hover {
    box-shadow: .2rem .2rem 0 0 cyan;
}